* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  font-family: Source Sans Pr;
  text-transform: capitalize;
  line-height: 1.5;
  letter-spacing: 0.012em;
  color: white;
}
body {
    background: url("https://i.postimg.cc/k4n3SMXw/Object-jpg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    width: 100%;
}

.text {
  text-align: center;
}

.text h1  {
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 90px;
  line-height: 150.84px;
  margin-top: 1em;
}

.text p {
  display: flex;
  gap: 80px;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-right: 80px;
  color: white;
}

.pros {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}

.pros h2 {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 70px;
}

span {
  color: rgba(194, 113, 255, 1);
}

.cards {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.name {
  font-weight: 900;
  font-size: 18px;
  line-height: 27px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

header h1 {
    font-size: 100px;
    margin: 0;
    color: white;
    font-weight: bold;
}

header span {
    display: inline-block;
    margin: 10px;
    font-size: 16px;
    color: white;
}

button {
    padding: 10px 20px;
    background-color: #C271FF;
    color: white;
    border: none;
    cursor: pointer;
}

section {
    display: flex;
    flex-direction: row;
    padding: 60px 20px;
    text-align: center;
    color: white;
}

section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

section > div {
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: white;
}

section img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

footer {
    background-color: #071629;
    color: white;
    padding: 20px;
    text-align: center;
}

footer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

footer i {
    color: white;
    margin: 0 5px;
}

footer p {
    margin: 0;
}

blockquote {
    font-size: 18px;
    font-style: normal;
    color: white;
    margin: 20px;
    background-color: #C271FF;
}

blockquote h3 {
    margin: 10px 0 0;
    font-weight: bold;
    color: white;
}
blockquote p {
    margin: 10px 0 0;
    font-weight: italic;
    color: white;
}
