* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  font-family: Source Sans Pr;
  text-transform: capitalize;
  line-height: 1.5;
  letter-spacing: 0.012em;
  color: white;
}

.one {
    background: url("https://i.postimg.cc/k4n3SMXw/Object-jpg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    background-size: cover;
    text-align: center;
    width: 100%;
}

.text {
  text-align: center;
}

header {
  color: white;
}

.text h1  {
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 90px;
  line-height: 150.84px;
  margin-top: 1em;
  color: white;
}

.text span {
  display: flex;
  gap: 80px;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-right: 80px;
  color: white;
  display: inline-block;
}

button {
  background-color: rgba(194, 113, 255, 1);
  padding: 8px 16px;
  border-radius: 32px;
  margin-top: 20px;
}

.pros {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}

.pros h2 {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 70px;
}

span {
  color: rgba(194, 113, 255, 1);
}

.cards {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.cards .pro-card img {
  height: auto;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.cards .pro-card h3 {
  font-weight: 900;
  font-size: 18px;
  line-height: 27px;
}

.cards .pro-card p {
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#testimonial.container {
  background-color: rgba(194, 113, 255, 1);
}

#testimonial.container  {
  display: flex;
  align-items: center;
  padding: 10em;
  gap: 60px;
  text-align: left;
}

#testimonial.container .testimony img {
  height: auto;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}


#testimonial.container .text {
  text-align: left;
}

blockquote {
    font-size: 18px;
    font-style: normal;
    color: white;
    margin: 20px;
}

blockquote h3 {
    margin: 10px 0 0;
    font-weight: bold;
    color: white;
}
blockquote p {
    margin: 10px 0 0;
    font-weight: italic;
    color: white;
}

.two h2 {
  color: rgba(7, 22, 41, 1);
} 

.members {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}

.video {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.video h3 {
  color: rgba(7, 22, 41, 1);
} 

.video h4 {
  color: rgba(194, 113, 255, 1);
} 

.purple {
  color: rgba(194, 113, 255, 1);
} 

.video p {
   max-width: 260px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 16px;
  color: rgba(7, 22, 41, 1);
} 

.three {
  background-color: rgba(7, 22, 41, 1);
}

.three h2 {
  color: white;
}

footer {
   background-color: rgba(7, 22, 41, 1);
}

footer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

footer i {
    color: white;
    margin: 0 5px;
}

footer p {
    margin: 0;
}
